@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
font-size: 100%;
background: #FFFFFF;
background-size: center
}

.header{
position: absolute;
width: 1130px;
height: 100px;
left: 100px;
top: 0px;    
background: #C61818;
border-radius: 10px;
} 

.header-item1{
    position: absolute;
    width: 178px;
    height: 26px;
    left: 50px;
    top: 37px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    
    color: #FFFFFF;
}

.header-item2{
    position: absolute;
width: 159px;
height: 26px;
left: 350px;
top: 37px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
text-align: center;

color: #FFFFFF;
}

.header-item3{
position: absolute;
width: 191px;
height: 26px;
left: 650px;
top: 37px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
text-align: center;

color: #FFFFFF;
}

.header-item4{
    position: absolute;
    width: 191px;
    height: 26px;
    left: 900px;
    top: 37px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    
    color: #FFFFFF;
    }

#painel{
    position: absolute;
    width: 700px;
    height: 400px;
    left: 300px;
    top: 150px;
}

.nome{
    position: absolute;
    width: 200px;
    height: 150px;
    left: 518px;
    top: 218px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center; 
}

.cpf{
    position: absolute;
    width: 200px;
    height: 150px;
    left: 518px;
    top: 270px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center; 
}

.matricula{
    position: absolute;
    width: 200px;
    height: 150px;
    left: 518px;
    top: 323px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center; 
}

.senha{
    position: absolute;
    width: 200px;
    height: 150px;
    left: 518px;
    top: 375px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center; 
}

.confirm{
    position: absolute;
    width: 200px;
    height: 150px;
    left: 518px;
    top: 428px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-align: center; 
}

.botao{ 
    position: absolute;
    width: 180px;
    height: 45px;
    border: none;
    left: 565px;
    top: 495px;
    
    background: #449C33;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    
    color: #FFFFFF;
    }

#minilogo{
    position: absolute;
    width: 80px;
    left: 600px;
    top: 610px;

    align-content: center;
    
}